
{% block content %}
<div class="card border-dark mb-3">
<div class="card-header">Add Topic</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Dark card title</h5>
    <div class="card-text">
      <form id="topicForm" action="/topic/add" method="post">
        {% csrf_token %}
        {{ topicForm.as_p }}
        <select class="js-example-basic-multiple" id="id_section" name="section" required="">
        {% for section in sections %}
          <option value="{{section.id}}">{{section.title}}</option>
        {% endfor %}
        </select>

        <div class="form-group">
          <select class="js-example-basic-multiple" multiple="multiple"  name="topic_tags" required="">
          {% for tag in tags %}
            <option value="{{tag.id}}">{{tag.title}}</option>
          {% endfor %}
          </select>
        </div>
    
      <div class="form-group">
          <div class="form-row">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary align-bottom">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'make_charts/add_tag_form.html' %}

{% endblock content %}