
{% block content %}

<form id="topicForm" action="/topic/add" method="post">
        {% csrf_token %}
        {{ tagForm.as_p }}
        <h1>IAM HERE</h1>
        <select id="id_topic" name="topic" required="">
        {% for topic in topics %}
          <option value="{{topic.id}}">{{topic.title}}</option>
        {% endfor %}
        </select>
  <div class="form-group">
    <div class="form-row"></div>
        </div>  
        <div class="form-row">
          <span class="input-group-btn"><button type="submit" class="btn btn-primary align-bottom">Add</button>
        </div>
    </div>
  </div>
</form>


{% endblock content %}