
{% block content %}

<form id="tagForm" action="/tag/add" method="post">
        {% csrf_token %}
        {{ tagForm.as_p }}
        <label for="id_tag">Select topics for these tags</label> 
        <select class="js-example-basic-multiple" multiple="multiple" id="id_tag" name="tags_topic" required="">
        {% for topic in topics %}
          <option value="{{topic.id}}">{{topic.id}}|{{topic.title}}</option>
        {% endfor %}
        </select>
  <div class="form-group">
        <div class="form-row">
          <span class="input-group-btn"><input type="submit" value="add" class="btn btn-primary align-bottom"></input>
        </div>
  </div>
</form>


{% endblock content %}