
{% block content %}
<div class="card-header current-section">Header</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Add a Section</h5>
    <p class="card-text">
    <form id="sectionForm" action="/section/add" method="post">
          {% csrf_token %}
          {{ secForm.as_p }}
        <div class="form-row">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary align-bottom">Add</button>
      </div>
    </form>
</div>
</div>
<div class="card border-dark mb-3">
  
    <p class="card-text">{% include 'make_charts/add_topic_form.html' %}</p>
  





{% endblock content %}