
<!--START add_section_form.html-->
{% block content %}
<div class="card border-dark mb-3">
  <div class="card-header current-section">Add a Section</div>
  <div class="card-body text-dark">
    <h5 class="card-title">Add a Section</h5>
    <p class="card-text">
    <form id="sectionForm" action="/section/add" method="post">
          {% csrf_token %}
          {{ secForm.as_p }}
        <div class="form-row">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary align-bottom">Add</button>
      </div>
    </form>
  </div>
</div>

<!--END add_section_form.html-->
{% endblock content %}
